body{
    font-family: Arial, Helvetica, sans-serif;
}
.clock-dial{
    width: 500px;
    height: 500px;
    border: 20px dashed #ffbd07;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.point{
    width: 20px;
    height: 20px;
    background-color: #283149;
    position: absolute;
    top:240px;
    left:240px;
    border-radius: 50px;


}

.hour{
    font-size: 30px;
    font-weight: bold;
    color: #283149;
    position: absolute;
}
.hour-1{
    top: 40px;
    right: 130px;

}
.hour-2{
    top: 125px;
    right: 45px;
    
}
.hour-3{
    top: 235px;
    right: 10px;
    
}
.hour-4{
    top: 345px;
    right: 45px;
    
}
.hour-5{
    top: 430px;
    right: 130px;
    
}
.hour-6{
    bottom: 10px;
    left: 240px;
    
}
.hour-7{
    top: 430px;
    left: 130px;
    
}
.hour-8{
    top: 345px;
    left: 45px;
    
}
.hour-9{
    top: 235px;
    left: 10px;
    
}
.hour-10{
    top: 125px;
    left: 45px;
    
}
.hour-11{
    top: 40px;
    left: 130px;
    
}
.hour-12{
    top: 10px;
    left: 235px;
    
}
.brand{
    font-size: 20px;
    font-weight: bold;
    color: green;
    top: 90px;
    left: 45.5%;
    position: absolute;

}
/*minute hand styling*/
.minute-hand-wrapper{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 0, 0.233);
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;

}
.minute-hand{
    position: relative;

}

.minute-hand .hand{
    background-color: #404b69;
    width: 5px;
    height: 200px;
    position: absolute;
    left: 198px;
}

/*hour hand styling*/
.hour-hand-wrapper{
    width: 250px;
    height: 250px;
    background-color: rgba(255, 0, 0, 0.233);
    position: absolute;
    top: 120px;
    left: 120px;
    border-radius: 50%;

}
.hour-hand{
    position: relative;

}

.hour-hand .hand{
    background-color: #404b69;
    width: 8px;
    height: 128px;
    position: absolute;
    left: 126px;
}

/*second hand styling*/
.second-hand-wrapper{
    width: 350px;
    height: 350px;
    background-color: rgba(255, 0, 0, 0.233);
    position: absolute;
    top: 75px;
    left: 75px;
    border-radius: 50%;

}
.second-hand{
    position: relative;

}

.second-hand .hand{
    background-color: #ff0000;
    width: 2px;
    height: 175px;
    position: absolute;
    left: 174px;
}